<section id="footer-container" class="full-width gray-bg grid-center">
  <footer class="page-width grid gap">
    <div class="footer-block footer-logo">
      <a href="/fr/index.html" aria-label="Click to return to home page">
        <object class="logo big-logo" data="/assets/images/logos/enerzam-vt-black_fr.svg" alt="Company Logo" title="Company Logo"></object>
      </a>
      <p>EnerZam est un pionnier de l'innovation durable, spécialisé dans l'efficacité énergétique et les technologies intelligentes. Nos solutions sur mesure permettent aux entreprises de gérer leur consommation d'énergie, d'optimiser leurs opérations et de réduire les émissions de gaz à effet de serre (GES) grâce à des mesures fondées sur la science, les orientant vers la neutralité carbone. Avec une expérience solide en matière de pratiques éco-responsables, nous aidons nos clients à relever les défis environnementaux tout en favorisant une croissance durable.</p>
      <div class="header-item social-links">
        <a class="social-link" style="margin-top: 1rem" href="https://www.linkedin.com/company/enerzam-inc/" target="_blank"><object data="/assets/images/icons/linkedin.svg" alt="linkedin logo" width="40" height="40"></object></a>
      </div>
    </div>     
    <div class="footer-block">
      <h3>Liens rapides</h3>
      <nav class="highlight blue">
        <a href="/" class="footer-item">Accueil</a>
        <a href="/fr/pages/about-us.html" class="footer-item">À propos</a>
        <a href="/fr/pages/tech-division.html" class="footer-item">Division Technologie</a> 
        <a href="/fr/pages/markets.html" class="footer-item">Secteurs d’activités</a>  
        <a href="/fr/pages/building-eng.html" class="footer-item">Ingénierie du bâtiment</a>         
      </nav>
    </div>
    <div class="footer-block">
      <h3>Suite de produits</h3>
      <nav class="highlight green">
        <a href="/fr/pages/tech-division.html?product=mv#products" class="footer-item">Joule M&V</a>
        <a href="/fr/pages/tech-division.html?product=analytix#products" class="footer-item">Joule AnalytiX</a>
        <a href="/fr/pages/tech-division.html?product=websynco#products" class="footer-item">WebSynco</a> 
      </nav>
    </div>
    <div class="footer-block">
      <h3>Contactez-nous</h3>
      <div class="contact-footer highlight gray">
        <div>
          <p class="bold">Bureau de Montréal: </p>
          <p>Cité du multimédia<br>50 Queen St, Suite #204<br>Montreal, QC<br>Canada, H3C 2N5</p>
          <p>+1 (514) 360-9926</p>
        </div>
        <div>
          <p class="bold">Bureau de Toronto:</p>
          <p>45 Sheppard Ave East, Suite #930<br>Toronto, ON<br>Canada, M2N 5W9</p>
          <p>+1 (416) 901-9942</p>
        </div>
        <div>
          <p>Sans frais: +1 (877) 682-8749<br><span class="bold">info@enerzam.com</span></p>
        </div>
      </div>
      <div class="uclogo-container">
        <object class="logo uclogo" data="/assets/images/logos/sponsors.gif" alt="Company Logo" title="Company Logo"></object>
      </div>
    </div>
  </footer>
</section>
<div class="full-width grid-center gray-bg">
  <div class="page-width grid-center copyright">
    <p><script>document.write(new Date().getFullYear())</script> Droits d'auteur © EnerZam inc. Tous droits réservés.</p>
  </div>     
</div>
