<div id="headerContainer" class="full-width grid-center header-container">
  <header class="page-width">
    <a href="/fr/index.html" aria-label="Click to return to home page">
      <object id="headerLogo" class="logo" data="/assets/images/logos/enerzam-hz-color_fr.svg" title="Company Logo" alt="Company Logo">Home page</object>
    </a>
    <div id="hamburgerMenu" class="header-icon"> </div>
    <nav id="desktopNav" class="header-nav header-nav-desktop">
      <div class="dropdown-container">
        <a href="/fr/pages/about-us.html" class="header-item main-item">À propos</a>
        <div class="dropdown">
          <a href="/fr/pages/about-us.html#mission" class="header-item">Notre mission</a>
          <a href="/fr/pages/about-us.html#vision" class="header-item">Notre vision</a>
          <a href="/fr/pages/about-us.html#team" class="header-item">Notre équipe</a>
          <a href="/fr/pages/markets.html" class="header-item">Secteurs d’activités</a>
          <a href="/fr/pages/about-us.html#contact" class="header-item">Contactez-nous</a>
        </div>
      </div>   
      <div class="dropdown-container">
        <a href="/fr/pages/tech-division.html" class="header-item main-item">Division Technologie</a>
        <div class="dropdown">
          <a href="/fr/pages/tech-division.html" class="header-item">Division technique</a>
          <a href="/fr/pages/tech-division.html#products" class="header-item">Suite de produits</a>
        </div>
      </div>           
      <a href="/fr/pages/building-eng.html" class="header-item main-item">Ingénierie du bâtiment</a>  
      <p onclick="changeLanguage()" class="header-item main-item">EN</p>   
    </nav>
  </header>
</div>
<nav id="mobileNav" class="header-nav header-nav-mobile">
  <div id="closeMenu" class="close-icon"> </div>
  <a href="/fr/pages/about-us.html" class="header-item main-item">À propos</a>
  <div class="sub-items">
    <a href="/fr/pages/about-us.html#mission" class="header-item">Notre mission</a>
    <a href="/fr/pages/about-us.html#vision" class="header-item">Notre vision</a>
    <a href="/fr/pages/about-us.html#team" class="header-item">Notre équipe</a>
    <a href="/fr/pages/markets.html" class="header-item">Secteurs d’activités</a>
    <a href="/fr/pages/about-us.html#contact" class="header-item">Contactez-nous</a>
  </div>
  <a href="/fr/pages/tech-division.html" class="header-item main-item">Technology Division</a>
  <div class="sub-items">
    <a href="/fr/pages/tech-division.html" class="header-item">Division Technologie</a>
    <a href="/fr/pages/tech-division.html#products" class="header-item">Suite de produits</a>
  </div>
  <a href="/fr/pages/building-eng.html" class="header-item main-item">Ingénierie du bâtiment</a>  
  <p onclick="changeLanguage()" class="header-item main-item">EN</p> 
</nav>